{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>
    
    <h2>Topics in this category</h2>
    <ul>
        {% for topic in category.topics %}
            <li>
                <a href="{{ path('app_topic', { id: topic.id }) }}">{{ topic.title }}</a>
                <p>{{ topic.content }}</p>
            </li>
        {% else %}
            <li>No topics found in this category.</li>
        {% endfor %}
    </ul>
{% endblock %}
